
body{

  text-align: center;
  background-color:lightgray;
  align-content: center;
   
}

.productcontainer{
  display: flex;
  flex-wrap: wrap;
}
.productcontainer>.link{
  text-align: center;
  width: 300px;
  box-shadow: 0 0 10px #463636;
   margin: 10px;
   background-color: white;
border-bottom: 25px solid rgba(0,255,0,0.5);
border-top:  25px solid rgba(255,0,0,0.5)
;
}
.productcontainer> .link:hover{
  background-color: lightgray;}